.page-template-home .section-1-titolo span:first-child {
    text-shadow: -1px -1px 0 var(--color-extralight), 1px -1px 0 var(--color-extralight), -1px 1px 0 var(--color-extralight), 1px 1px 0 var(--color-extralight)
}

.page-template-home .section-1 .splide__slide:nth-child(odd) {
    width: 83.3333333333%
}

.page-template-home .section-1 .splide__slide:nth-child(even) {
    width: 75%
}

.page-template-home .home-splide-number {
    transform: translateX(-100%);
    transition: .3s
}

.page-template-home .home-splide-icon-wrap {
    transform: translateX(100%) rotate(-90deg);
    transition: .3s
}

.page-template-home .home-splide-icon {
    width: 3vw
}

.page-template-home .home-splide-title {
    width: 80px;
    height: 80px
}

.page-template-home .home-splide .splide__slide:hover .home-splide-title {
    opacity: 1
}

.page-template-home .home-splide .splide__slide:hover .home-splide-number {
    transform: translateX(0)
}

.page-template-home .home-splide .splide__slide:hover .home-splide-icon-wrap {
    transform: translateX(0) rotate(-90deg)
}

@media (min-width:992px) {
    .page-template-home .section-1-titolo span:first-child {
        text-shadow: -2px -2px 0 var(--color-extralight), 2px -2px 0 var(--color-extralight), -2px 2px 0 var(--color-extralight), 2px 2px 0 var(--color-extralight)
    }
    .page-template-home .section-1 .splide__slide:nth-child(odd) {
        width: 33.3333333333%
    }
    .page-template-home .section-1 .splide__slide:nth-child(even) {
        width: 25%
    }
    .page-template-home .home-splide-title {
        width: 6vw;
        height: 6vw;
        opacity: 0;
        transition: .3s
    }
    .page-template-home .home-splide .splide__slide:hover .home-splide-title {
        opacity: 1
    }
}

.page-template-home .section-2-testo {
    color: var(--color-extradark)
}

@media (min-width:992px) {
    .page-template-home .section-2-testo {
        color: var(--color-lightmedium)
    }
}

.page-template-home .section-3-img-1,
.page-template-home .section-3-img-2,
.page-template-home .section-3-img-3 {
    width: 75%
}

.page-template-home .section-3-img-1 {
    bottom: 1vw
}

.page-template-home .section-3-img-2 {
    bottom: -5vw;
    left: 20vw
}

@media (min-width:992px) {
    .page-template-home .section-3-img-1,
    .page-template-home .section-3-img-2,
    .page-template-home .section-3-img-3 {
        width: 17.5vw
    }
}

@media (min-width:992px) {
    .page-template-home .section-4-testo-verticale {
        transform: rotate(-90deg) translate(0%, 100%);
        transform-origin: 0% 100%
    }
    .page-template-home .section-4-img {
        position: absolute;
        width: calc(33.333% - var(--space-6));
        height: 100%;
        margin-left: calc(33.333% + var(--space-4));
        z-index: 1
    }
    .page-template-home .section-4-img-inner {
        padding-top: var(--space-7);
        padding-bottom: var(--space-7)
    }
}

.page-template-home .section-6-primo-titolo {
    top: 0;
    left: 0;
    transform: translate(0)
}

.page-template-home .section-6-secondo-titolo {
    bottom: 0;
    left: 0;
    transform: translate(0)
}

.page-template-home .section-9-img .ratio-img {
    border-radius: 1vw
}

@media (min-width:992px) {
    .page-template-home a .section-9-titolo {
        transition: .3s
    }
    .page-template-home a .section-9-titolo div:last-child {
        transform: translateY(100%)
    }
    .page-template-home a:hover .section-9-titolo {
        transform: translateY(-100%)
    }
    .page-template-home .section-9-img {
        transition: .3s
    }
    .page-template-home .section-9-link--sinistra .section-9-img {
        transform: translateX(101%)
    }
    .page-template-home .section-9-link--destra .section-9-img {
        transform: translateX(-101%)
    }
    .page-template-home a:hover .section-9-img {
        transform: translateY(0%)
    }
}

.page-template-home .section-11 .container-fluid {
    background-image: url(//www.bieffeforniture.it/wp-content/themes/heysito-child/assets/css/page/../../images/dicono-bg.svg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat
}

.page-template-home .section-11-titolo {
    text-shadow: -1px -1px 0 var(--color-extradark), 1px -1px 0 var(--color-extradark), -1px 1px 0 var(--color-extradark), 1px 1px 0 var(--color-extradark)
}

.page-template-home .section-11-card {
    border-radius: 1vw
}

@media (min-width:992px) {
    .page-template-home .section-11-img-big {
        transform: scale(.8)
    }
    .page-template-home .section-11-titolo {
        text-shadow: -2px -2px 0 var(--color-extradark), 2px -2px 0 var(--color-extradark), -2px 2px 0 var(--color-extradark), 2px 2px 0 var(--color-extradark)
    }
}