header {
    position: absolute
}

.header-menu a,
.header-link a {
    text-decoration: none;
    font-weight: var(--weight-bold);
    color: var(--color-accent-3);
    line-height: var(--line-1);
    font-size: var(--font-3);
    display: block;
    padding: var(--space-2)
}

.is-header-chiaro .header-menu a,
.is-header-chiaro .header-link a {
    color: var(--color-extralight)
}

.header-logo img {
    width: 110px;
    max-width: 110px
}

.header-menu>li {
    margin-left: var(--space-4);
    position: relative
}

.header-menu>li:last-child a {
    padding-right: 0
}

.header-link a {
    padding-right: 0
}

.header-logo a:hover,
.header-menu a:hover,
.header-menu .current-menu-item a,
.header-menu .current-menu-item a:hover {
    color: var(--color-accent-3)
}

.is-header-chiaro .header-logo a:hover,
.is-header-chiaro .header-menu a:hover,
.is-header-chiaro .header-menu .current-menu-item a,
.is-header-chiaro .header-menu .current-menu-item a:hover {
    color: var(--color-extralight)
}

@media (min-width:992px) {
    .header-logo img {
        width: 7vw;
        max-width: 7vw
    }
    .header-link a {
        padding-right: var(--space-2);
        padding-left: 0
    }
}

.side-menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100vw;
    background: var(--color-accent-1);
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1020;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    pointer-events: none
}

.side-menu-wrap a,
.side-menu-wrap a:hover {
    color: var(--color-extralight)
}

.is-menu-open .side-menu-wrap {
    right: 0;
    opacity: 1;
    pointer-events: all
}

.side-menu-wrap .header-menu a,
.side-menu-wrap .header-link a {
    color: var(--color-extralight)
}

.side-menu-link .side-menu-info {
    opacity: 0;
    transition: .3s
}

.side-menu-link:hover .side-menu-info {
    opacity: 1
}

.side-menu-link .side-menu-info .ratio-img {
    border-radius: 1vw
}

.side-menu-footer a,
.side-menu-footer a:hover {
    color: var(--color-extralight);
    text-decoration: none
}

@media (min-width:992px) {
    .side-menu-link .side-menu-titolo {
        transition: .3s
    }
    .side-menu-link--destra:hover .side-menu-titolo {
        transform: translateX(calc(-1*var(--space-5)))
    }
    .side-menu-link--sinistra:hover .side-menu-titolo {
        transform: translateX(var(--space-5))
    }
}