footer .marquee-content {
    text-shadow: -1px -1px 0 var(--color-extralight), 1px -1px 0 var(--color-extralight), -1px 1px 0 var(--color-extralight), 1px 1px 0 var(--color-extralight)
}

footer a,
footer a:hover {
    color: var(--color-extralight);
    text-decoration: none
}

footer .torna-su {
    cursor: pointer
}

footer .torna-su-icon {
    width: 6vw;
    rotate: 270deg
}

@media (min-width:992px) {
    footer .marquee-content {
        text-shadow: -2px -2px 0 var(--color-extralight), 2px -2px 0 var(--color-extralight), -2px 2px 0 var(--color-extralight), 2px 2px 0 var(--color-extralight)
    }
    footer .torna-su-icon {
        width: 3vw
    }
}